<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>空手购物</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <link href="/css/sb-admin-2.css" rel="stylesheet">
    <!-- Custom Fonts 下拉的小图标-->
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="wrapper">
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">北京华联 商场</a>
        </div>

        <ul class="nav navbar-top-links navbar-right">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html">空手购物 </a>
            </div>

            <li class="dropdown">

                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">

                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> 商家设置</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> 登出</a>
                    </li>
                </ul>
            </li>
        </ul>

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>

                    </li>
                    <li>
                        <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> 商家设置<span
                                    class="fa arrow"></span></a>

                        <ul class="nav nav-second-level">
                            <li>
                                <a href="blank.html">商家信息</a>
                            </li>
                            <li>
                                <a href="blank.html">财务报表</a>
                            </li>

                        </ul>
                    </li>

                    <li>
                        <a href="tables.html"><i class="fa fa-table fa-fw"></i> 商品管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">新增商品</a>
                            </li>
                            <li>
                                <a href="#">商品列表</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#"><i class="fa fa-sitemap fa-fw"></i> 商品分类<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">品牌服饰</a>
                            </li>
                            <li>
                                <a href="#">孩童玩具</a>
                            </li>
                            <li>
                                <a href="#">休闲零食 <span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="#">坚果</a>
                                    </li>
                                    <li>
                                        <a href="#">饮料</a>
                                    </li>
                                    <li>
                                        <a href="#">水果</a>
                                    </li>
                                </ul>
                                <!-- /.nav-third-level -->
                            </li>

                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="forms.html"><i class="fa fa-edit fa-fw"></i> 订单管理</a>
                    </li>

                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
    </nav>